<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>福建师大</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./default.css">
    <style>
        #app {
            height: 100%;
        }

        .el-header {
            padding: 0;
        }

        .el-main {
            padding: 0 0 20px 0;
        }

        #logo {
            position: absolute;
            top: 10px;
            z-index: 99;
            left: 80px;
        }

        .denlu {
            position: absolute;
            top: 10px;
            z-index: 99;
            right: 80px;
        }

        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 150px;
            margin: 0;
        }

        .el-row {
            margin-bottom: 20px;

        }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }

        .grid-content .icons {
            width: 40px;
            height: 40px;
            margin: 0 auto;
        }

        .grid-content .title {
            font-size: 15px;
            text-align: center;
            font-weight: 800;
            margin: 8px 0;
        }

        .grid-content {
            color: #714cbf;
            min-height: 80px;
        }

        .grid-content:hover {
            color: #bf262e;
        }

        .el-dropdown {
            vertical-align: top;
        }

        .el-dropdown + .el-dropdown {
            margin-left: 15px;
        }

        .el-icon-arrow-down {
            font-size: 12px;
        }

        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <div class="denlu" style="float: right">
                <!--                <el-tag type="success" v-if="islogin">{{form.name}},欢饮你</el-tag>-->
                <el-dropdown split-button type="primary" @click="handleClick" v-if="islogin">
                    更多菜单
                    <el-dropdown-menu slot="dropdown">
                        <el-button type="text" @click="myactivity = true">我的活动</el-button>
                        <el-button type="text" @click="myJoinactivity = true">我加入的活动</el-button>
                        <el-button type="text" @click="handleClick1">退出登录</el-button>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-button v-if="!islogin" @click="open" type="primary">登录</el-button>
                <el-button v-if="!islogin" @click="open1" type="success">注册</el-button>
            </div>
        </el-header>
        <el-main>
            <div>
                <el-carousel indicator-position="outside">
                    <el-carousel-item v-for="(item,index) in images" :key="index">
                        <img style="width:100%;height:100%" :src="item.url"/>
                    </el-carousel-item>
                </el-carousel>
            </div>
            <div style="width: 60%;margin-left: 20%;text-align: center">
                <el-row :gutter="20">
                    <el-col :span="6">
                        <div class="grid-content bg-purple" @click="goActive">
                            <img class="icons" src="./assetes/活动.png"/>
                            <p class="title">加入活动</p>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content bg-purple" @click="chaungjianvibe=true">
                            <img class="icons" src="./assetes/活动 2.png"/>
                            <p class="title">创建活动</p>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content bg-purple" @click="ceping">
                            <img class="icons" src="./assetes/CharacterTraits.png"/>
                            <p class="title">性格测评</p>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="grid-content bg-purple" @click="GoGo">
                            <img class="icons" src="./assetes/Complaint.png"/>
                            <p class="title">推荐的活动</p>
                        </div>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="6">
                        <div class="grid-content bg-purple" @click="goMerchant">
                            <img class="icons" src="./assetes/MuchMore.png"/>
                            <p class="title">商家活动推荐</p>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </el-main>
        <el-footer style="position:absolute;bottom:0;width:100%;color:#f5f5f5;background: #000;text-align: center">
            版权由福建师范大学所有@2020<br/>
            京公网安备11000002000001号
        </el-footer>
    </el-container>
    <el-dialog title="登录" :visible.sync="dialogFormVisible">
        <el-form :model="form" ref="dengluFrom">
            <el-form-item label="账号" :label-width="formLabelWidth" prop="name"
                          :rules="[{ required: true, message: '账号不能为空'}]">
                <el-input v-model="form.name" autocomplete="off" type="string" show-word-limit validate-event
                          maxlength="12" minlength="12"></el-input>
            </el-form-item>
            <el-form-item label="密码" :label-width="formLabelWidth" prop="password"
                          :rules="[{ required: true, message: '密码不能为空'}]">
                <el-input type="password" v-model="form.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="Login('dengluFrom')">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog title="注册" :visible.sync="dialogFormVisible1">
        <el-form :model="form1" ref="zucheForm">
            <el-form-item label="年级" :label-width="formLabelWidth" prop="grade"
                          :rules="[{ required: true, message: '请选择年级'}]">
                <!--                <el-input v-model="form1.grade" autocomplete="off"></el-input>-->
                <el-select v-model="form1.grade" placeholder="请选择" type="text">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="学院" :label-width="formLabelWidth" prop="college"
                          :rules="[{ required: true, message: '学院名称不能为空'}]">
                <el-input v-model="form1.college" autocomplete="off" type="text"></el-input>
            </el-form-item>
            <el-form-item label="专业" :label-width="formLabelWidth" prop="major"
                          :rules="[{ required: true, message: '专业名称不能为空'}]">
                <el-input v-model="form1.major" autocomplete="off" type="text"></el-input>
            </el-form-item>
            <el-form-item label="姓名" :label-width="formLabelWidth" prop="username"
                          :rules="[{ required: true, message: '姓名不能为空'}]">
                <el-input v-model="form1.username" autocomplete="off" type="text"></el-input>
            </el-form-item>
            <el-form-item label="性格类型" :label-width="formLabelWidth" prop="value"
                          :rules="[{ required: true, message: '请选择性格类型'}]">
                <!--                <el-input v-model="form1.userxingge" autocomplete="off"></el-input>-->
                <el-select v-model="form1.value" placeholder="请选择" type="text">
                    <el-option
                            v-for="item in options1"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="学号" :label-width="formLabelWidth" prop="name"
                          :rules="[{ required: true, message: '学号不能为空'}]">
                <el-input maxlength="12" minlength="12"
                          v-model="form1.name" autocomplete="off" type="String"></el-input>
            </el-form-item>
            <el-form-item prop="password" :rules="[{ required: true, message: '密码不能为空'}]" label="密码"
                          :label-width="formLabelWidth">
                <el-input type="password" v-model="form1.password" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" :label-width="formLabelWidth" prop="surepassword"
                          :rules="[{ required: true, message: '确认密码不能为空'}]">
                <el-input type="password" v-model="form1.surepassword" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="zhuchequxiao">取 消</el-button>
            <el-button type="primary" @click="zhuche('zucheForm')">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog title="收货地址" :visible.sync="dialogFormVisible2">
        <el-form :model="form2">
            <el-form-item label="活动名称" :label-width="formLabelWidth">
                <el-input v-model="form2.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="兴趣兴趣" :label-width="formLabelWidth">
                <el-select v-model="form2.region" placeholder="请选择活动区域">
                    <el-option label="区域一" value="shanghai"></el-option>
                    <el-option label="区域二" value="beijing"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="xqluru">取 消</el-button>
            <el-button type="primary" @click="xqluru">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog title="创建活动" :visible.sync="chaungjianvibe">
        <el-form :model="chuangj_form">
            <el-form-item label="活动名称" :label-width="formLabelWidth" prop="name"
                          :rules="[{ required: true, message: '活动名不能为空'}]">
                <el-input v-model="chuangj_form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="规则" :label-width="formLabelWidth" prop="rule"
                          :rules="[{ required: true, message: '活动规则不能为空'}]">
                <el-input v-model="chuangj_form.rule" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="活动时间" :label-width="formLabelWidth" prop="time"
                          :rules="[{ required: true, message: '活动时间不能为空'}]">
                <el-input v-model="chuangj_form.time" type="date" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="活动内容" :label-width="formLabelWidth" prop="text"
                          :rules="[{ required: true, message: '活动内容不能为空'}]">
                <el-input v-model="chuangj_form.text" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="活动区域" :label-width="formLabelWidth" prop="region"
                          :rules="[{ required: true, message: '活动区域不能为空'}]">
                <el-select v-model="chuangj_form.region" placeholder="请选择活动区域">
                    <el-option label="校内" value="福建师范大学"></el-option>
                    <el-option label="校外" value="福州"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="具体地点" :label-width="formLabelWidth" prop="place"
                          :rules="[{ required: true, message: '具体地点不能为空'}]">
                <el-input v-model="chuangj_form.place" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="chaungjian">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog title="兴趣录入" :visible.sync="interest">
        <el-form :model="qingqueform" ref="qingqueform">
            <el-form-item label="兴趣" :label-width="formLabelWidth" prop="name"
                          :rules="[{ required: true, message: '兴趣不能为空'}]">
                <el-input v-model="qingqueform.name" autocomplete="off" type="text"></el-input>
            </el-form-item>
            <!--            <el-form-item label="活动区域" :label-width="formLabelWidth">-->
            <!--                <el-select v-model="form.region" placeholder="请选择活动区域">-->
            <!--                    <el-option label="区域一" value="shanghai"></el-option>-->
            <!--                    <el-option label="区域二" value="beijing"></el-option>-->
            <!--                </el-select>-->
            <!--            </el-form-item>-->
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="interest = false">取 消</el-button>
            <el-button @click="()=>interestone('qingqueform')">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog title="我的活动" :visible.sync="myactivity">
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="活动id">
                            <span>{{ props.row.id }}</span>
                        </el-form-item>
                        <el-form-item label="活动名称">
                            <span>{{ props.row.activityName }}</span>
                        </el-form-item>
                        <el-form-item label="活动规则">
                            <span>{{ props.row.activityRole }}</span>
                        </el-form-item>
                        <el-form-item label="活动时间">
                            <span>{{ props.row.activityTime }}</span>
                        </el-form-item>
                        <el-form-item label="活动内容">
                            <span>{{ props.row.activityContent }}</span>
                        </el-form-item>
                        <el-form-item label="活动区域">
                            <span>{{ props.row.activityArea }}</span>
                        </el-form-item>
                        <el-form-item label="具体地点">
                            <span>{{ props.row.activitySite }}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column
                    label="活动名称"
                    prop="activityName">
            </el-table-column>
            <el-table-column
                    label="地点"
                    prop="activitySite">
            </el-table-column>
            <el-table-column
                    align="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                            v-model="search"
                            size="mini"
                            placeholder="输入关键字搜索"></el-input>
                </template>
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-dialog>

    <el-dialog title="我的加入的活动" :visible.sync="myJoinactivity">
        <el-table
                :data="tableData2"
                style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="活动id">
                            <span>{{ props.row.id }}</span>
                        </el-form-item>
                        <el-form-item label="活动名称">
                            <span>{{ props.row.activityName }}</span>
                        </el-form-item>
                        <el-form-item label="活动规则">
                            <span>{{ props.row.activityRole }}</span>
                        </el-form-item>
                        <el-form-item label="活动时间">
                            <span>{{ props.row.activityTime }}</span>
                        </el-form-item>
                        <el-form-item label="活动内容">
                            <span>{{ props.row.activityContent }}</span>
                        </el-form-item>
                        <el-form-item label="活动区域">
                            <span>{{ props.row.activityArea }}</span>
                        </el-form-item>
                        <el-form-item label="具体地点">
                            <span>{{ props.row.activitySite }}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column
                    label="活动名称"
                    prop="activityName">
            </el-table-column>
            <el-table-column
                    label="地点"
                    prop="activitySite">
            </el-table-column>
            <el-table-column
                    align="right">
                <template slot="header" slot-scope="scope">
                    <el-input
                            v-model="search"
                            size="mini"
                            placeholder="输入关键字搜索"></el-input>
                </template>
            </el-table-column>
        </el-table>
    </el-dialog>

    <el-dialog title="编辑活动" :visible.sync="editFrom">
        <el-form :model="rowsFrom">
            <!--            <el-form-item label="活动id" :label-width="formLabelWidth">-->
            <!--                <el-input type="hidden" v-model="rowsFrom.id" autocomplete="off"></el-input>-->
            <!--            </el-form-item>-->
            <el-form-item label="活动名称" :label-width="formLabelWidth">
                <el-input v-model="rowsFrom.activityName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="规则" :label-width="formLabelWidth">
                <el-input v-model="rowsFrom.activityRole" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="活动时间" :label-width="formLabelWidth">
                <el-input type="date" v-model="rowsFrom.activityTime" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="活动内容" :label-width="formLabelWidth">
                <el-input v-model="rowsFrom.activityContent" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="活动区域" :label-width="formLabelWidth">
                <el-select v-model="rowsFrom.activityArea" placeholder="请选择活动区域">
                    <el-option label="校内" value="福建师范大学"></el-option>
                    <el-option label="校外" value="福州"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="具体地点" :label-width="formLabelWidth">
                <el-input v-model="rowsFrom.activitySite" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="chaungjian">取 消</el-button>
            <el-button type="primary" @click="xiugai('editFrom')">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="/layer/layer.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var tableData1 = [];
    var tableData2 = [];
    var islogin1 = false;
    $.ajax({
        url: "/queryMyMemberMessage",
        type: "post",
        async: false,
        data: {},
        success: function (data) {
            if (data.resultCode === '200') {
                $.ajax({
                    url: "/queryMyActivityList",
                    type: "get",
                    async: false,
                    data: {},
                    success: function (data) {
                        if (data.resultCode === '200') {
                            tableData1.splice(0, tableData1.length);
                            for (i = 0, len = data.data.memberActivityUniteEntities.length; i < len; i++) {
                                tableData1.push(data.data.memberActivityUniteEntities[i])
                            }
                            console.log(tableData1)
                        } else {
                            layer.msg(data.resultMsg);
                        }
                    },
                    error: function (data) {
                        layer.msg('系统错误请稍后重试');
                    }
                });

                $.ajax({
                    url: "/queryMyJoinMemberActivity",
                    type: "get",
                    async: false,
                    data: {},
                    success: function (data) {
                        if (data.resultCode === '200') {
                            tableData2.splice(0, tableData2.length);
                            for (i = 0, len = data.data.memberActivityUniteEntities.length; i < len; i++) {
                                tableData2.push(data.data.memberActivityUniteEntities[i])
                            }
                            console.log(tableData2)
                        } else {
                            layer.msg(data.resultMsg);
                        }
                    },
                    error: function (data) {
                        layer.msg('系统错误请稍后重试');
                    }
                });
                islogin1 = true;
            } else {
                //  layer.msg(data.resultMsg);
            }
        },
        error: function (data) {
            //layer.msg('系统错误请稍后重试');
        }
    });


    new Vue({
        el: '#app',
        mounted() {
            axios.get('https://v1.jinrishici.com/all.json').then((res) => {
                console.log(res)
                this.data = res.data
            })
        },
        data: function () {
            return {
                data: {},
                search: '',
                editFrom: false,
                myactivity: false,
                myJoinactivity: false,
                tableData: tableData1,
                tableData2: tableData2,
                interest: false,
                qingqueform: {
                    name: '',
                },
                islogin: islogin1,
                dialogVisible: false,
                options1: [{
                    value: '平均型',
                    label: '平均型'
                }, {
                    value: '保守型',
                    label: '保守型'
                }, {
                    value: '榜样型',
                    label: '榜样型'
                }, {
                    value: '自我为中心型',
                    label: '自我为中心型'
                }],
                value: '',

                tables: [
                    {name: '其实', date: '2020-02-03'},
                    {name: '其实1', date: '2020-02-04'},
                    {name: '其实2', date: '2020-02-05'},
                    {name: '其实3', date: '2020-02-06'}
                ],
                images: [
                    {
                        index: 0,
                        url: 'https://dss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1200524016,3386333024&fm=26&gp=0.jpg'
                    },
                    {
                        index: 1,
                        url: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1035415831,1465727770&fm=26&gp=0.jpg'
                    },
                    {
                        index: 2,
                        url: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1035415831,1465727770&fm=26&gp=0.jpg'
                    },
                    {
                        index: 3,
                        url: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1035415831,1465727770&fm=26&gp=0.jpg'
                    },

                ],
                visible: false,
                activeIndex2: '1',
                dialogFormVisible: false,
                dialogFormVisible1: false,
                chaungjianvibe: false,
                gridData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }],
                dialogTableVisible: false,
                form: {
                    name: '',
                    password: ''
                },
                dialogFormVisible2: false,
                form1: {
                    name: '',
                    grade: '',
                    college: '',
                    major: '',
                    password: '',
                    surepassword: '',
                    username: '',


                },
                form2: {
                    name2: '',
                    region: '',
                },
                options: [{
                    value: '2016',
                    label: '2016级'
                }, {
                    value: '2017',
                    label: '2017级'
                }, {
                    value: '2018',
                    label: '2018级'
                }, {
                    value: '2019',
                    label: '2019级'
                }, {
                    value: '2020',
                    label: '2020级'
                }],
                chuangj_form: {
                    name: '',
                    people: '',
                    rule: '',
                    text: '',
                    time: '',
                    place: '',
                    region: '',
                },
                formLabelWidth: '120px',
                rowsFrom: {
                    name: '0',
                    rule: '',
                    time: '',
                    text: '',
                    region: '',
                    place: '',
                    people: ''
                }
            }
        },
        methods: {
            Login(dengluFrom) {
                var t = false;
                this.$refs[dengluFrom].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/login",
                            type: "post",
                            async: false,
                            data: {
                                custStudentNumber: this.form.name,
                                custPassword: this.form.password
                            },
                            success: function (data) {
                                if (data.resultCode === '200') {
                                    t = true;
                                    layer.msg('登录成功');
                                } else {
                                    layer.msg(data.resultMsg);
                                }
                            },
                            error: function (data) {
                                layer.msg('系统错误请稍后重试');
                            }
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
                if (t) {
                    this.dialogFormVisible = false;
                    this.islogin = true;
                }

            },
            handleClick1() {
                $.ajax({
                    url: "/backLogin",
                    type: "post",
                    async: false,
                    data: {},
                    success: function (data) {
                        if (data.resultCode === '200') {
                            location.reload();
                            layer.msg("退出登录成功");
                        } else {
                            layer.msg(data.resultMsg);
                        }
                    },
                    error: function (data) {
                        layer.msg('系统错误请稍后重试');
                    }
                });


            },
            interestone(luruFrom) {
                console.log(this.qingqueform);
                this.$refs[luruFrom].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                        this.qingqueform = {
                            name: '',
                        };
                        this.interest = false;
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
                // this.interest=true;
            },
            zhuche(formName) {
                var t = false;
                //console.log(this.form1);
                if (this.form1.password !== this.form1.surepassword) {
                    const h = this.$createElement;

                    this.$notify({
                        title: '错误提示',
                        message: h('i', {style: 'color: teal'}, '两次密码输入不一致，请重新输入！')
                    });
                    return;
                }

                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/register",
                            type: "post",
                            async: false,
                            data: {
                                custStudentNumber: this.form1.name,
                                custPassword: this.form1.password,
                                custName: this.form1.username,
                                custGrade: this.form1.grade,
                                custAcademy: this.form1.college,
                                custProfession: this.form1.major,
                                custCharacter: this.form1.value
                            },
                            success: function (data) {
                                if (data.resultCode === '200') {
                                    layer.msg('注册成功');
                                    t = true;
                                } else {
                                    layer.msg(data.resultMsg);
                                }
                            },
                            error: function (data) {
                                layer.msg('系统错误请稍后重试');
                            }
                        });

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

                if (t) {
                    this.dialogFormVisible1 = false;
                }
            },
            goActive() {
                window.open('GreateActivities.html')
            },
            GoGo() {
                window.open('PersonalityAssessment.html')
            },
            goMerchant() {
                window.open('BusinessActivities.html')
            },
            ceping() {
                window.open('https://types.yuzeli.com/survey/mbti24')
            },
            zhuchequxiao() {

                this.form1 = {
                    name: '',
                    grade: '',
                    college: '',
                    major: '',
                    password: '',
                    surepassword: ''


                };
                this.dialogFormVisible1 = false;
                this.islogin = false;
            },
            xqluru() {

                this.form2 = {
                    name: '',
                    region: '',
                };
                this.dialogFormVisible2 = false;
            },
            chaungjian() {

                $.ajax({
                    url: "/insertMemberActivity",
                    type: "post",
                    async: false,
                    data: {
                        activityName: this.chuangj_form.name,
                        activityRole: this.chuangj_form.rule,
                        activityTime: this.chuangj_form.time,
                        activityArea: this.chuangj_form.region,
                        activitySite: this.chuangj_form.place,
                        activityContent: this.chuangj_form.text,
                    },
                    success: function (data) {
                        if (data.resultCode === '200') {
                            $.ajax({
                                url: "/queryMyActivityList",
                                type: "get",
                                async: false,
                                data: {},
                                success: function (data) {
                                    if (data.resultCode === '200') {
                                        tableData1.splice(0, tableData1.length);
                                        for (i = 0, len = data.data.memberActivityUniteEntities.length; i < len; i++) {

                                            tableData1.push(data.data.memberActivityUniteEntities[i])
                                        }
                                        console.log(tableData1)
                                    } else {
                                        layer.msg(data.resultMsg);
                                    }
                                },
                                error: function (data) {
                                    layer.msg('系统错误请稍后重试');
                                }
                            });
                            layer.msg('活动创建成功');
                        } else {
                            layer.msg(data.resultMsg);
                        }
                    },
                    error: function (data) {
                        layer.msg('系统错误请稍后重试');
                    }
                });
                this.chaungjianvibe = false;
            },
            xiugai(fromname) {

                // let index = this.tableData.findIndex((item) => item.name = this.rowsFrom.name);
                // this.tableData[index] = this.rowsFrom;
                $.ajax({
                    url: "/updateActivity",
                    type: "post",
                    async: false,
                    data: {
                        id: this.rowsFrom.id,
                        activityName: this.rowsFrom.activityName,
                        activityRole: this.rowsFrom.activityRole,
                        activityTime: this.rowsFrom.activityTime,
                        activityArea: this.rowsFrom.activityArea,
                        activitySite: this.rowsFrom.activitySite,
                        activityContent: this.rowsFrom.activityContent,
                    },
                    success: function (data) {
                        if (data.resultCode === '200') {
                            layer.msg('修改成功');
                        } else {
                            layer.msg(data.resultMsg);
                        }
                    },
                    error: function (data) {
                        layer.msg('系统错误请稍后重试');
                    }
                });
                this.editFrom = false;
            },


            handleSelect() {

            },
            handleClick() {
                alert('button click');
            },
            handleEdit(index, row) {
                this.editFrom = true;
                this.rowsFrom = row;
                console.log(index, row);
            },
            handleDelete(index, row) {
                console.log(row.id);
                $.ajax({
                    url: "/deleteActivity",
                    type: "post",
                    async: false,
                    data: {
                        id: row.id,
                    },
                    success: function (data) {
                        if (data.resultCode === '200') {
                            $.ajax({
                                url: "/queryMyActivityList",
                                type: "get",
                                async: false,
                                data: {},
                                success: function (data) {
                                    if (data.resultCode === '200') {
                                        tableData1.splice(0, tableData1.length);
                                        for (i = 0, len = data.data.memberActivityUniteEntities.length; i < len; i++) {

                                            tableData1.push(data.data.memberActivityUniteEntities[i])
                                        }
                                        console.log(tableData1)
                                    } else {
                                        layer.msg(data.resultMsg);
                                    }
                                },
                                error: function (data) {
                                    layer.msg('系统错误请稍后重试');
                                }
                            });
                            layer.msg('删除成功');
                        } else {
                            layer.msg(data.resultMsg);
                        }
                    },
                    error: function (data) {
                        layer.msg('系统错误请稍后重试');
                    }
                });
                this.myactivity = false;
            },
            handleOpen() {

            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            open() {
                this.dialogFormVisible = true;
            },
            open1() {
                this.dialogFormVisible1 = true;
            }
        }
    })
</script>
</body>
</html>